/* ENTIRE PAGE */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
}

/* HEADER */
header {
  height: 100px;
  background-color: #444;
}

nav {
  width: 960px;
  margin: 0px auto;
}

header img {
  float: left;
  margin: 15px 30px 0 0;
}

nav li {
  display: inline-block;
  margin: 45px 75px 0 0;
}

a {
  text-decoration: none;
  color: #aaa;
}
/* MAIN */
main {
  width: 960px;
  margin: 30px auto;
}

/* MAIN: SUB-BANNERS */
main li {
  float: left;
  margin: 30px 30px 30px 0;
}

main li:last-child {
  margin-right: 0;
}

/* MAIN: FEATURED SECTION */
section img {
  float: left;
  margin-right: 30px;
}

section div {
  width: calc(50% - 30px);
  float: left;
}

section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  line-height: 20px;
  font-style: italic;
  overflow: auto;
  height: 314px;
  margin-bottom: 15px;
}

section button {
  border: none;
  padding: 10px 30px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
  transition: 350ms;
}

section button:hover {
  background-color: green;
}
/* FOOTER */
footer {
  height: 100px;
  background-color: #444;
  clear: both;
}
